.noteList {
  background: white;
  margin: 0;
  left: 0;
  bottom: 0;
  top: 0;
  padding: 40px;
  position: fixed;
}
.heading {
  font-size: 25px;
  font-weight: bold;
  padding-bottom: 20px;
}

button {
  background: black;
  color: white;
  border: none;
  border-radius: 9px;
  font-size: 13px;
  font-weight: bold;
}

button span {
  font-weight: bolder;
}
